.left{
	background-color: #f5f6fa;

}
.right{
	
	height: 500px;
}

.add{
	background-color: #f5f6fa;
	color: white;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}
.add:hover {
  background-color: #c7ecee;
}
.collapsible {
	background-color: #f5f6fa;
	color: white;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #c7ecee;
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
}

.active:after {
  content: "\2212";
}

.content {
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}